

#tableImage{
    margin:auto;
}

.image {
    width: 180px;

}

.imageOk{
    background-color: green;
}

.imageNotOk{
    background-color: red;
}

.idImage {
    font-weight: bold;
    margin-top: 2px;
}

.tableLign {
    text-align: center;
    list-style-type : none;
    border: solid black 2px;
    border-radius: 4px;
    padding: 2px;
    background-color: gray;
}