h3 {
    text-align: center;
}

#tableImage{
    margin:auto;
}

#preview{
    margin:auto;
    width: 460px;
}
#previewTags{
    margin:auto;
    width: 460px;
}

.image {
    width: 50px;
}

.imageOk{
    /*background-color: green;*/
    background-color: white;
}

.imageNotOk{
    /*background-color: red;*/
    background-color: white;
}

.idImage {
    font-weight: bold;
    margin-top: 2px;
}

.tableLign {
    text-align: center;
    list-style-type : none;
    border: solid black 2px;
    border-radius: 4px;
    padding: 2px;
    background-color: gray;
}

.tagCloud {
    width: 550px;
    height: 200px;
}